@import '../../asseets/styles/variables.scss';

.showMore {
  cursor: pointer;
  color: $lightBlue;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  &:hover {
    text-decoration: underline;
  }

  &::after {
    content: '';
    width: 24px;
    height: 24px;
    padding: 0 10px;
    background-image: url("../../asseets/svg/strelochka.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}