@import '../../asseets/styles/variables.scss';

.slider {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  display: flex;
  flex-wrap: nowrap;

  .sliderItem {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    border: 1px solid $lightBlack;
    background-color: transparent;

    cursor: pointer;

    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
  .active {
    background-color: $lightBlue;
  }
}